/*.drop-down-list {
    display: none;
}
 .drop-down-list  {
background:blue;
position: absolute;
    top: 30px;
    width: 300px;
    overflow: scroll;
}

.drop-down {
width: 300px;
background: red;
display: block;
height: 30px;
}

.drop-down a {
    display: block;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
}
a:hover {
    text-decoration: none;
    background: cadetblue;
}

*/

ul{
    list-style: none;
    width: 350px;
}
.select {
    border: 1px solid;
}
li{
display: none;
}
.d-value {
    border: 2px solid red;
    height: 40px;
}