

.nav-bar {
    margin: 0px;/*removing default margin*/
    padding: 0px;/*removing default padding*/
    list-style: none;/*removing default dots*/
    background: black;/*adding the background color  to nav-nar*/
    width: 0px;
    height: 100%;/*for enter page */
    overflow: hidden;
    transition: 0.5s;/*changes css property value given periodic time*/
    position: fixed;/*position of the element */
    top: 0px;
    left: 0px;
    padding-top: 30px;
}
li {
   
    padding: 10px 12px;
    color: blanchedalmond;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    white-space: nowrap;
}
a:hover{
    text-decoration: none;
}
a {
    color: white;
}
.fixied-header {
    width: 160px;
}

/* cancel icon */
.fa-times {
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
}